body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.viewport {
  font-family: Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('img/zzpdos.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.viewport > .ssl {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1;
  color: rgb(2, 227, 62);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
.viewport > .ssl > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.viewport > .ssl > .logos a {
  margin: 0 20px;
  color: rgb(2, 227, 62);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  /* filter: grayscale(1); */
  text-decoration: none;
}

#lock {
  width: 20px;
  height: 24px;
  display: inline-block;
  background-image: url('img/lock.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 6px;
}

.title,
.title > h1 {
  font-weight: 300;
  color: rgb(2, 227, 62);
  display: inline-block;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

a#gh:before,
a#tw:before,
a#in:before {
  transition: filter 0.3s ease;
  -webkit-transition: filter 0.3s ease;
  -moz-transition: filter 0.3s ease;
}

a#gh:hover:before,
a#tw:hover:before,
a#in:hover:before {
  filter: grayscale(0.2);
}

#info {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px;
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#info .inner {
  text-align: center;
  background: #f4f4f4;
  max-width: 600px;
  max-height: 600px;
  padding: 3em;
  border-radius: 12px;
}

#info .inner .title {
  margin-top: 0;
}

.logos {
  font-weight: 300;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}


#gh:before {
  content: '';
  display: block;
  width: 140px;
  height: 140px;
  background-image: url('img/github.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
}

#tw:before {
  content: '';
  display: block;
  width: 140px;
  height: 140px;
  background-image: url('img/twitter.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
}

#in:before {
  content: '';
  display: block;
  width: 140px;
  height: 140px;
  background-image: url('img/insta.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
}

#what {
  position: fixed;
  right: 2vw;
  bottom: 8vh;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  margin: 0 5vw;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  background: rgba(200, 200, 200, 1);
  box-shadow: 0px 1px 0px rgba(200, 200, 200, 1);
  transition: background 0.3s ease;
}

#how {
  position: fixed;
  left: 2vw;
  bottom: 8vh;
  display: block;
  height: 48px;
  line-height: 48px;
  border-radius: 12px;
  padding: 0 12px;
  margin: 0 5vw;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  background: rgba(200, 200, 200, 1);
  box-shadow: 0px 1px 0px rgba(200, 200, 200, 1);
  transition: background 0.3s ease;
}

#how:hover {
  background: rgba(100, 100, 100, 1);
}

#how:active,
#what:hover {
  background: rgb(2, 227, 62);
}

#magical {
  background-image: url('img/starry-sky.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  left: -10vw;
  height: 6.666vh;
  width: 120vw;
  box-shadow: 0 1vh 1vh 4px white inset;
  mix-blend-mode: multiply;
  animation: move 20s linear infinite alternate;
  filter: grayscale(1);
  transition: filter 0.2s ease;
}

#magical:hover {
  filter: grayscale(0);
}

@keyframes move {
  0% { 
    opacity: 0; 
    background-position: 0px 0px;
  }
  2% { 
    opacity: 1; 
    background-position: 0px 2%;
  }
  88% { 
    opacity: 1; 
    background-position: 0px 98%;
  }
  90% { 
    opacity: 0; 
    background-position: 0px 100%;
  }
  100% {
    opacity: 0; 
    background-position: 0px 100%;
  }
}

@media screen and (max-width: 600px) {
  #what {
    width: 32px;
    height: 32px;
    margin: 0 calc(100% / 2 - 16px);
    right: 0;
  }

  .logos {
    flex-flow: column;
  }

  a:before {
    width: 40px;
    height: 40px;
  }
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  font-weight: 300;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 12px;
  width: 160px;
  text-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

table {
  border-spacing: 10px;
}

table .first {
  text-align: right;
  font-weight: 300;
  vertical-align: top;
}

table .second {
  text-align: left;
  vertical-align: top;
}

a,
a:active,
a:visited {
  color: rgb(2, 227, 62);
}

#placeholder {
  display: block;
  position: fixed;
  left: 2vw;
  top: 2vw;
  margin: 0 5vw;
  z-index: 999999;
  border-radius: 20px;
  overflow: hidden;
  width: 320px;
  height: 80px;
}

#placeholder img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

#placeholder img:first-child {
  z-index: 2;
  opacity: 1;
  transition: opacity 0.2s ease;
}

#placeholder img:first-child:hover {
  opacity: 0;
}

#placeholder img:nth-child(2) {
  z-index: 1;
}

#satanicon {
  width: 92vh;
  text-align: center;;
  font-family: 'Times New Roman', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  color: red;
  position: fixed;
  z-index: 99999;
  transform-origin: bottom left;
  transform: rotate(90deg) translateY(0);
}