	body {
		margin: 0;
		padding: 0;
		background-color: grey;
	}

	::-webkit-scrollbar {
    width: 40px;
	}
 
	::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;*/
    background-color: white;
	}
 
	::-webkit-scrollbar-thumb {
	
	background: url('bits-scroll.gif');
	/*background-repeat: no-repeat;*/
	background-position: center; 

	background-color:white;
/*    	border-radius: 10px;
    	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
	}

	iframe {
		width: 92%;
		/*height: 170px;*/
		/*height: 1000px;*/
	}

	#b25 {
		height: 1100px;
	}

	#l25 a , #l25 a:hover, #l25 a:visited { color: black ;}

	#b24 {
		height: 1100px;
	}

	#l24 a , #l24 a:hover, #l24 a:visited { color: white ;}

	#b23 {
		height: 1600px;
	}

	#l23 a , #l23 a:hover, #l23 a:visited { color: white ;}

	#b22 {
		height: 1400px;
	}

	#l22 a , #l22 a:hover, #l22 a:visited { color: #333333 ;}

	#b21 {
		height: 1400px;
	}

	#l21 a , #l21 a:hover, #l21 a:visited { color: #ffffff ;}

	#b20 {
		height: 1200px;
	}

	#l20 a , #l20 a:hover, #l20 a:visited { color: black ;}

	#b19 {
		height: 800px;
	}

	#l19 a , #l19 a:hover, #l19 a:visited { color: #ffffff ;}

	#b18 {
		height: 1000px;
	}

	#l18 a , #l18 a:hover, #l18 a:visited { color: #ffffff ;}

	#b17 {
		height: 1200px;
	}

	#l17 a , #l17 a:hover, #l17 a:visited { color: #000 ;}

	#b16 {
		height: 1200px;
	}

	#l16 a , #l16 a:hover, #l16 a:visited { color: #ffd83e ;}

	#b15 {
		height: 1200px;
	}

	#l15 a , #l15 a:hover, #l15 a:visited { color: white ;}


	#b14 {
		height: 1160px;
	}

	#l14 a , #l14 a:hover, #l14 a:visited { color: black ;}

	#b13 {
		height: 970px;
	}

	#l13 a , #l13 a:hover, #l13 a:visited { color: #e5ffff;}


	#b12 {
		height: 1000px;
	}

	#l12 a , #l12 a:hover, #l12 a:visited { color: black;}

	#b11 {
		height: 960px;
	}

	#l11 a , #l11 a:hover, #l11 a:visited { color: white;}

	#b10 {
		height: 1000px;
	}

	#l10 a , #l10 a:hover, #l10 a:visited { color: red;}

	#b9 {
		height: 1100px;
	}

	#l9 a , #l9 a:hover, #l9 a:visited { color: #ff9900;}

	#b8 {
		height: 1000px;
	}

	#l8 a , #l8 a:hover, #l8 a:visited { color: black;}

	#b7 {
		height: 1100px;
	}

	#l7 a , #l7 a:hover, #l7 a:visited { color: #cc0000;}

	#b6 {
		height: 1240px;
	}

	#l6 a , #l6 a:hover, #l6 a:visited { color: #3d0099 ;}

	#b5 {
		height: 1170px;
	}

	#l5 a , #l5 a:hover, #l5 a:visited { color: black ;}

	#b4 {
		height: 950px;
	}

	#l4 a , #l4 a:hover, #l4 a:visited { color: #275935 ;}

	#b3 {
		height: 700px;
	}

	#l3 a , #l3 a:hover, #l3 a:visited { color: white ;}

	#b2 {
		height: 1100px;
	}

	#l2 a , #l2 a:hover, #l2 a:visited { color: #b3b3b3 ;}

	#b1 {
		height: 850px;
	}

	#l1 a , #l1 a:hover, #l1 a:visited { color: white ;}

	.container {
		width: 100%;
		max-height: 174px;
		position: relative;
		overflow: hidden;
		float: left;
		transition: max-height 2s ease;
		-webkit-transition: max-height 2s ease;
		-moz-transition: max-height 2s ease;

	}

	.container:hover {
		max-height: 1400px;
	}

	a {
		font-size: 4em;
		text-decoration: none;
		line-height: 167px;
	}

	a:visited {
	}

	.link-container {
		position: relative;
		width: 8%;
		float: right;
		overflow-y: hidden; 
		text-align: center;
	}

	.link {
		font-family: sans-serif;
		position: relative;
		width: 100%;
		float: right;
	}
