/*MOBILE*/

* {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
  background-color: rgb(0, 0, 77);
}

@font-face {
  font-family: MTGrotesque;
  src: url('GrotesqueMTStd-BoldExtended.otf')
}

@font-face {
  font-family: whois;
  src: url('whois-mono.ttf');
}

html, body {
  font-size:100%;
  margin: 1.5%;
  overflow-y:none;
}

img{
  width:100%;
}


#left{
  width:100%;
  font-size:100%;
  float:left;
  display: inline-block;
  margin-right: 5%;
  -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}

#right{
  margin-top: 1.5%;
  width:100%;
  float:left;
  display: inline-block;
  -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}

#title{
  font-family: MTGrotesque;
  font-size: 95%;
  border-bottom: 2px solid;
  color: black;
  white-space:pre-wrap;
  -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}


.tab { margin-left: 5%; }

#title:hover, #title.hover_effect{
  color: white;
}


p {
  font-family: MTGrotesque;
  font-size: 95%;
  word-break: break-word;

  -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;

}

p:hover, p.hover_effect{
  color: white;
}

h1{
  font-family: MTGrotesque;
  font-size: 100%;
  -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}

ul li {
  margin-bottom: 6px;
}

a.site {
  font-size: 100%;
}

h1:hover, h1.hover_effect{
  color: white;
  cursor: pointer;
}

h2{
  font-family: whois;
  font-size: 110%;
  word-break: break-all;
  -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}

h3{
  font-family: whois;
  font-size: 70%;
  word-break: break-all;
	-webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}

h2:hover, h2.hover_effect{
  color: white;
}

h4{
  font-family: whois;
  font-size: 110%;
  border: 1px solid black;
  margin: 5% auto;
  padding-left:8%;
  -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}
h4:hover, h4.hover_effect{
  color: white;
  border: 1px solid white;
}

.blocks {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 196px;
}


.left {
  position: relative;
  width: 49%;
  float: left;
  height: 140px;
  
}

.right {
  position: relative;
  width: 49%;
  height: 140px;
  float: right;
}

  #opening h3 {
    margin: 8% auto;
  }

  #exhibition h3 {
    margin: 17% auto;
  }

  #afterparty h3 {
    margin: 5.5% auto;
  }

  #megastores h3 {
    margin: 3.5% auto;
  }

  #opening, #exhibition, #afterparty {
  position: absolute;
  border: 1px solid white;
  background-color: none;
  text-align: center;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  -webkit-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
}

  #megastores {
  position: absolute;
  border: 1px solid white;
  background-color: none;
  text-align: center;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  bottom: 0;
  -webkit-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
}

#opening:hover, #exhibition:hover, #afterparty:hover, #megastores:hover, #opening.hover_effect, #exhibition.hover_effect, #afterparty.hover_effect, #megastores.hover_effect {
  color: rgb(0,0,160) ;
  background-color: white;
  }


#opening{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 0;
  width:100%;
  height: 47%;
}

#opening h3 {
  margin: 11% auto;
}

#exhibition{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width:100%;
  bottom: 0;
}

#exhibition h3 {
  margin: 24% auto;
}

#afterparty{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 47%;
  width:100%;
  bottom: 0;
}

#afterparty h3 {
  margin: 9.5% auto; 
}

#megastores{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width:100%;  
  float:left;
  height: 50px;
}

#thanks{
  margin-top: 9%;
  margin-right: 5%;
  width:100%;
  font-size:100%;
  float:left;
  display: inline-block;
  -webkit-transition: color .2s;
  transition: color .2s;
}

#credits{
  margin-top: 7%;
  width:100%;
  float:left;
  display: inline-block;
}

#logos{
  margin-top: 0.5%;
  width:90%;
  float:left;
  display: inline-block;
}

#logos {
  margin-top: 9%;
  position: relative;
  width: 100%;
  height: auto;
  float: left;
}

#imgcont {
  width: 33.3333%;
  position: relative;
  height: 55px;
  display: inline;
  float: left;
}

#imgcont img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

#imgcont img#top:hover {
  opacity: 0;
}

.artist {
  margin-left: 2%;
}
