
/**
 *    Ideal resolution: 1440 * 900 pixels
 */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 77);
}

@font-face {
  font-family: MTGrotesque;
  src: url('GrotesqueMTStd-BoldExtended.otf')
}

@font-face {
  font-family: whois;
  src: url('whois-mono.ttf');
}

html, body {
  font-size:100%;
  margin: 1.5%;
  overflow-y:none;
}

img{
  width:100%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

li {
   -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}

li:hover a {
  color:white;
}

li a{
   -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}

#li-text {
   -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}

#li-text:hover {
    color: white;
}

li:hover {
  color: white;
}

li a:hover {
  color: white;
}

#left{
  width:70%;
  font-size:100%;
  float:left;
  display: inline-block;
  margin-right: 5%;
  margin-bottom: 5%;
}

#right{
  width:25%;
  float:left;
  display: inline-block;
  margin-bottom: 5%;
}

#title{
  font-family: MTGrotesque;
  font-size: 290%;
  border-bottom: 2px solid;
  color: black;

  white-space: pre-wrap;
  -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}


.tab { margin-left: 5%; }

#title:hover{
  color: white;
}

p {
  font-family: MTGrotesque;
  font-size: 290%;
  word-break: break-word;

  -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

p:hover{
  color: white;
}

h1{
  font-family: MTGrotesque;
  font-size: 130%;
}

h1:hover{
	color: white;
  cursor: pointer;
}

ul li {
	margin-bottom: 10px;
}

.site {
	font-family: whois;
	font-size: 120%;
	margin-bottom: 10px;
}

a:visited {
  text-decoration: none;
}

ul {
    list-style-type: none;
}

h2{
  font-family: whois;
  font-size: 130%;
  word-break: break-all;
}

h2:hover{
  color: white;
  -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}

h3{
  font-family: whois;
  font-size: 250%;
  word-break: break-all;
  -webkit-transition: color .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s;
}

h3.hover {
	color:white;
}

h4{
  font-family: whois;
  font-size: 130%;
  border: 2px solid black;
  padding-top:4%;
  padding-bottom:4%;
  padding-left:8%;
  -webkit-transition: color .2s, border .2s; /* For Safari 3.1 to 6.0 */
  transition: color .2s, border .2s;
}
h4:hover{
  color: white;
  border: 2px solid white;
}

.blocks {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 600px;
}


.left {
  position: relative;
  width: 49%;
  float: left;
  height: 421px;
  
}

.right {
  position: relative;
  width: 49%;
  height: 421px;
  float: right;
}

  #opening h3 {
    margin: 6% auto;
  }

  #exhibition h3 {
    margin: 14% auto;
  }

  #afterparty h3 {
    margin: 4.5% auto;
  }

  #megastores h3 {
    margin: 2% auto;
  }

  #opening, #exhibition, #afterparty {
  position: absolute;
  border: 2px solid white;
  background-color: none;
  text-align: center;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  -webkit-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
}

  #megastores {
  position: absolute;
  border: 2px solid white;
  background-color: none;
  text-align: center;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  bottom: 0;
  -webkit-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
}

#opening:hover, #exhibition:hover, #afterparty:hover, #megastores:hover, #opening.hover_effect, #exhibition.hover_effect, #afterparty.hover_effect, #megastores.hover_effect {
  color: rgb(0,0,160) ;
  background-color: white;
  }


#opening{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 0;
  width:100%;
  height: 47%;
}

#exhibition{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  width:100%;
  bottom: 0;
}

#afterparty{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 47%;
  width:100%;
  bottom: 0;
}

#megastores{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width:100%;  
  float:left;
  height: 154px;
}

#thanks{
  margin-top: 7%;
  margin-right: 5%;
  width:70%;
  font-size:100%;
  float:left;
  display: inline-block;
}

#thanks a {
  font-family: whois;
  transition: color .2s;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
}

#thanks a:hover {
  color: white;
}

#credits{
  margin-top: 7%;
  width:25%;
  float:left;
  display: inline-block;
}

#logos{
  width: 90%;
  float: left;
  display: inline-block;
  margin-top: 9%;
  position: relative;
  width: 100%;
  height: auto;
  float: left;
}

#imgcont {
  width: 50%;
  position: relative;
  height: 80px;
  display: inline;
  float: left;
}

#imgcont img {
  position: absolute;
  width: 100%;
  left: -10px;
  top: 0;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

#imgcont img#top:hover {
  opacity: 0;
}



 






