body {
	margin: 0;
	padding: 0;
}

.black {
		background-color: black;
		color: white;
}

.white {
		background-color: white;
		color: black;
}

.yellow {
		background-color: yellow;
		color: black;
}

.blackA {
		border: 1px solid white;
}

.whiteA {
		border: 1px solid black; 	
}

.yellowA {
		border: 1px solid black; 
}

header{
	width: 100%;
	position: fixed;
	z-index: 200;
	top: 0;
}

a, a:visited, a:active, a:hover {
	text-decoration: underline;
}

#gradient {
	background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,0.5)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,0.5)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,0.5)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.5)); /*Standard*/
}

@font-face {
    font-family: LiberationSansNarrow-Bold;
    src: url(../../type/LiberationSansNarrow-Bold.ttf);
}

@font-face {
	font-family: Polsku;
	src: url(../../type/Polsku.ttf);
}

@font-face {
	font-family: LiberationSans-Regular;
	src: url(../../type/LiberationSans-Regular.ttf);

}

h1 {
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
	text-align: center;
	font-family: Polsku, sans-serif;
	font-size: 2.3em;
	line-height: 30px;
	padding: auto 0;
	width: 100%;
	cursor: help;
}

#title {
	z-index: 999;
}

#aboutDiv {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 999999;

}

#about {
	text-align: center;
	position: absolute;
	top: 50%;
	font-family: LiberationSans-Regular, sans-serif;
	line-height: 100%;
	font-size: 1.2em;
	letter-spacing: 3%;
	width: 100%;
	height: 100%;
}

p {
	font-family: LiberationSansNarrow-Bold, sans-serif;
	letter-spacing: 3%;
}

.page-header {
	border: none;
	box-shadow: none;
}

.page-header .col-md-10 h1 {
	font-family: cursive;
	font-size: 4em;
	text-align: left;
}

.page-header .col-sm-12 h1 {
	font-family: cursive;
	text-align: center;
}


.breaker {
	text-align: center;
	color: #aaa;
}

.padded {
	padding: 3% 6%;
	max-height: 800px;
}

.desc {
	padding: 3% 0 0 2%;
	height: 100%;
}

img {
	display: block;
	position: relative;
	max-height: 300px;
}

.link {
	color: red;
}

.img-margin {
}


#switch {
	width: 120px;
	height: 30px;
	position: fixed;
	bottom: 3%;
	left: 3%;
	z-index: 9999;
	display: none;
	
}

#switch p {
	text-align: center;
	vertical-align: middle;
	position: absolute;
	line-height: 100%;
	width: 100%;
	top: 18%;
	height: auto;
	z-index: 2;
	margin: auto; 

	font-family: Polsku;
	cursor: pointer;
	font-size: 1.2em;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}

.img-full{

	width: 100%;
	height: auto;
}

.img-responsive {
	max-height: 700px;
}