	* {
		margin: 0;
		padding: 0;
	}

	p {
		font-family: sans-serif;
		font-size: 3em;
	}

	.dropDiv {
		padding:0; 
		margin: 0;
		position: relative;
		float: left;
	}

	.greyscaler {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,e5e5e5+100 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */

color: white;
	}

	.border {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    	border: 1px solid black;
	}

	img.desaturate { 
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	}

	img.invert {
	-webkit-filter: invert(100%);
	filter: invert(100%);	
	}

	img.desaturate.invert {
	-webkit-filter: invert(100%) grayscale(100%);
	filter: invert(100%) grayscale(100%);
	}


	.dropDiv.over {
		opacity: 0.6;
	}

	.dropDiv:hover {
		/*opacity: 0.8;*/
	}

	.three {
		width: 33.33333333%;
		height: 268px;
	}

	.nine {
		width:11.11111111%;
		height: 90px;
	}

	.twenty-seven {
		width: 3.7%;
		height: 30px;
	}

	.fifty-four {
		width: 1.85%;
		height: 15px;
		
	}

/*	.eighty-one {
		width: 1.6%;
		height: 14px;
	}*/

	.imgDiv {
		padding:0; 
		margin: 0;
		position: relative;
		float: left;
	}

	.gradientDiv {

/*		background: linear-gradient(90deg, #ffffff, #0dff00, #000000, #ff0000, #ffffff);
		background-size: 1000% 1000%;

		-webkit-animation: Animanus 9s ease infinite;
		-moz-animation: Animanus 9s ease infinite;
		animation: Animanus 9s ease infinite;*/

/*		background: linear-gradient(356deg, #000000, #ff0000, #eeff00, #ffffff);
		background-size: 800% 800%;

		-webkit-animation: AnimationName 14s ease infinite;
		-moz-animation: AnimationName 14s ease infinite;
		animation: AnimationName 14s ease infinite;*/

		background: linear-gradient(181deg, #ffffff, #00ff20, #af00ff);
		background-size: 600% 600%;

		-webkit-animation: animate 2s ease infinite;
		-moz-animation: animate 2s ease infinite;
		animation: animate 2s ease infinite;
	}

	@-webkit-keyframes Animanus {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 51%}
	    100%{background-position:0% 50%}
	}
	@-moz-keyframes Animanus {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 51%}
	    100%{background-position:0% 50%}
	}
	@keyframes Animanus { 
	    0%{background-position:0% 50%}
	    50%{background-position:100% 51%}
	    100%{background-position:0% 50%}
	}


	@-webkit-keyframes AnimationName {
	    0%{background-position:54% 0%}
	    50%{background-position:47% 100%}
	    100%{background-position:54% 0%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:54% 0%}
	    50%{background-position:47% 100%}
	    100%{background-position:54% 0%}
	}
	@keyframes AnimationName { 
	    0%{background-position:54% 0%}
	    50%{background-position:47% 100%}
	    100%{background-position:54% 0%}
	}

	@-webkit-keyframes animate {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
	}
	@-moz-keyframes animate {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
	}
	@keyframes animate { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
	}

	.buttonbar {
		position: fixed;
		width:500px;
		top: 50px;
		left: 50px;
		z-index: 999;
	}

	img {
		width: 100%;
		height: 100%;
		-webkit-transition : -webkit-filter .5s;
		transition: filter .5s;
	}

	.eighty-one img {
		top: 0;
	}

	button {
		display: inline;
	}

	.welcome {
		width: 75%;
		position: fixed;
		top: 33.333%;
		left: 50%;
		margin-left: -37.5%;
		text-align: center;
		z-index: 99;
	}

	button {
		background-color: white;
		text-align: left;
		text-indent: 5px;
		color: black;
		display: block;
		width: 100%;
		font-size: 0.8em;
		margin-bottom: 2px;
	}

		.triggerbuttons {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+5&0.79+3,0+49 */
/*background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.79) 0%, rgba(0,0,0,0.79) 3%, rgba(0,0,0,0.76) 5%, rgba(0,0,0,0) 49%); /* FF3.6-15 */*/
/*background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.79) 0%,rgba(0,0,0,0.79) 3%,rgba(0,0,0,0.76) 5%,rgba(0,0,0,0) 49%); /* Chrome10-25,Safari5.1-6 */*/
/*background: linear-gradient(135deg, rgba(0,0,0,0.79) 0%,rgba(0,0,0,0.79) 3%,rgba(0,0,0,0.76) 5%,rgba(0,0,0,0) 49%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */*/
		
		cursor: pointer;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: auto;
		height: auto;
		opacity: 0;

		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}

	.triggerbuttons p {
		cursor: pointer;
		position: fixed;
		z-index: 99999;
		top: 0;
		left: 0;
		-webkit-animation: blink 1s 3;
		-moz-animation: blink 1s 3;
		animation: blink 1s 3;
	}

	@keyframes blink {
	    0% {
	        opacity: 1;
	    }
	    50% {
	        opacity: 0;
	    }
	    100% {
	        opacity: 1;
	    }
	}

	.triggerbuttons:hover , .triggerbuttons.active {
		opacity : 1;
	}

	.buttonbar {
		position: fixed;
		text-align: left;
		width:100px;
		height: auto;
		top: 50px;
		left: 50px;
		z-index: 99999;
		display:none;
	}

	.buttonbar p {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 0.8em;
		font-style: bold;
	}

	.redBg {
		background-color: red;
	}

	.greenBg {
		background-color: #00ff00;
	}

	.blueBg {
		background-color: blue;
	}

	.blackBg {
		background-color: black;
	}

	/*HOVER STUFF*/

	.ui-state-hover {
		background: black;   
	}
	.ui-state-active {
		background:  red; 
	}
